input {
  border-radius: 5%;
  margin-top: 5px;
  border: 1px solid #eee;
}

table tr td {
  padding: 5px;
  border: 1px solid #eee;
  width: 250px;
  text-align: center;
}
th {
  text-align: center;
  border: 1px solid #eee;
}

span {
  margin-left: 20px;
  width: 80px;
}

button {
  width: 80px;
  margin-left: 2px;
}
.add-new {
  margin-top: 20px;
  width: 200px;
}
.container {
  text-align: center;
}

h4 {
  margin-top: 5px;
  padding: 5px;
}

#edit-btn {
  background-color: black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.closeUpdate {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.closeUpdate:hover,
.closeUpdate:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#btnAdd {
  margin: 20px;
  width: 200px;
}
